<div class="component-content-pro">
  <div class="component-content-color">
  <div class="product_wrap1 ">

    <div class="container padd-mobile ">
      <div class="row ">
        <div class="col-md-12 ">
          <h3 class="studio-main-head ">Lens</h3>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-9 padd-mobile ">
          <div class=" row clearfix ">

            <div class="col-md-4 col-xs-12 ">
              <div class="product-list-style ">
                <div class="product-list-style-img ">
                  <a href="https://www.rentoclick.com/product/canon-ef-s-55-250mm-f4-56-is-stm-lens.html ">
                    <img src="https://www.rentoclick.com/uploads/product/Canon_55-250_Lens.png "
                      title="Canon EF-S 55-250mm f/4-5.6 IS STM Lens " alt="Canon EF-S 55-250mm f/4-5.6 IS STM Lens "
                      class="responsive-image ">
                  </a>
                </div>

                <div class="overlay ">
                  <a href="https://www.rentoclick.com/uploads/product/Canon_55-250_Lens.png " class="zoom "></a>
                  <a href="https://www.rentoclick.com/product/canon-ef-s-55-250mm-f4-56-is-stm-lens.html "
                    class="link "></a>
                </div>

                <div class="product-list-style-details ">
                  <a href="https://www.rentoclick.com/product/canon-ef-s-55-250mm-f4-56-is-stm-lens.html "
                    class="link ">
                    <h4>Canon EF-S 55-250mm f/4-5.6 IS STM Lens</h4>
                  </a>
                  <!-- <span>Starts @ Rs. </span> -->
                  <!--<p>   </p>
                          -->
                  <!-- ASDD -->
                  <div id="drop_price_597 " class="wrapper-dropdown-3 priceDrop " tabindex="1 ">

                    <!--<span>Select 1 value</span> -->
                    <ul class="dropdown ">
                      <li id="itm_1 " class="active ">
                        <a href="# " id="itm_href_1 ">
                          <i class="product-detail ">
                            0-1 Day
                          </i> <span class="price-left ">Rs. 300/day </span>
                        </a>
                      </li>
                      <li id="itm_2 ">
                        <a href="# " id="itm_href_2 ">
                          <i class="product-detail ">
                            2-4 Days
                          </i> <span class="price-left ">Rs. 250/day </span>
                        </a>
                      </li>
                      <li id="itm_3 ">
                        <a href="# " id="itm_href_3 ">
                          <i class="product-detail ">
                            5-7 Days
                          </i> <span class="price-left ">Rs. 200/day </span>
                        </a>
                      </li>
                      <li id="itm_4 ">
                        <a href="# " id="itm_href_4 ">
                          <i class="product-detail ">
                            8 Days ++
                          </i> <span class="price-left ">Rs. 150/day </span>
                        </a>
                      </li>


                    </ul>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-md-4 col-xs-12 ">
              <div class="product-list-style ">
                <div class="product-list-style-img ">
                  <a class="link ">
                    <img src="/assets/uploads/lens/CANON-18-55M.png" title="CANON 18-55M Lens on Rent "
                      alt="CANON 18-55M Lens on Rent " class="responsive-image ">
                  </a>
                </div>

                <div class="overlay ">
                  <a href="/assets/uploads/lens/CANON-18-55M.png" class="zoom "></a>
                  <a class="link "></a>
                </div>

                <div class="product-list-style-details ">
                  <a class="link ">
                    <h4>CANON 18-55M Lens on Rent</h4>
                  </a>
                  <!-- <span>Starts @ Rs. </span> -->
                  <!--<p>   </p>
                          -->
                  <!-- ASDD -->
                  <div id="drop_price_60 " class="wrapper-dropdown-3 priceDrop " tabindex="1 ">

                    <!--<span>Select 1 value</span> -->
                    <ul class="dropdown ">
                      <li id="itm_1 " class="active ">
                        <a href="# " id="itm_href_1 ">
                          <i class="product-detail ">
                            0-1 Day
                          </i> <span class="price-left ">Rs. 1200/day </span>
                        </a>
                      </li>
                      <li id="itm_2 ">
                        <a href="# " id="itm_href_2 ">
                          <i class="product-detail ">
                            2-4 Days
                          </i> <span class="price-left ">Rs. 1000/day </span>
                        </a>
                      </li>
                      <li id="itm_3 ">
                        <a href="# " id="itm_href_3 ">
                          <i class="product-detail ">
                            5-7 Days
                          </i> <span class="price-left ">Rs. 900/day </span>
                        </a>
                      </li>
                      <li id="itm_4 ">
                        <a href="# " id="itm_href_4 ">
                          <i class="product-detail ">
                            8 Days ++
                          </i> <span class="price-left ">Rs. 800/day </span>
                        </a>
                      </li>


                    </ul>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-md-4 col-xs-12 ">
              <div class="product-list-style ">
                <div class="product-list-style-img ">
                  <a>
                    <img src="/assets/uploads/lens/Canon-RF-S-18-45mm.png" title="Canon-RF-S-18-45mm on Rent"
                      alt="Canon-RF-S-18-45mm on Rent" class="responsive-image ">
                  </a>
                </div>

                <div class="overlay ">
                  <a href="/assets/uploads/lens/Canon-RF-S-18-45mm.png" class="zoom "></a>
                  <a class="link"></a>
                </div>

                <div class="product-list-style-details ">
                  <a class="link">
                    <h4>Canon-RF-S-18-45mm on Rent</h4>
                  </a>
                  <!-- <span>Starts @ Rs. </span> -->
                  <!--<p>   </p>
                          -->
                  <!-- ASDD -->
                  <div id="drop_price_61 " class="wrapper-dropdown-3 priceDrop " tabindex="1 ">

                    <!--<span>Select 1 value</span> -->
                    <ul class="dropdown ">
                      <li id="itm_1 " class="active ">
                        <a href="# " id="itm_href_1 ">
                          <i class="product-detail ">
                            0-1 Day
                          </i> <span class="price-left ">Rs. 900/day </span>
                        </a>
                      </li>
                      <li id="itm_2 ">
                        <a href="# " id="itm_href_2 ">
                          <i class="product-detail ">
                            2-4 Days
                          </i> <span class="price-left ">Rs. 850/day </span>
                        </a>
                      </li>
                      <li id="itm_3 ">
                        <a href="# " id="itm_href_3 ">
                          <i class="product-detail ">
                            5-7 Days
                          </i> <span class="price-left ">Rs. 800/day </span>
                        </a>
                      </li>
                      <li id="itm_4 ">
                        <a href="# " id="itm_href_4 ">
                          <i class="product-detail ">
                            8 Days ++
                          </i> <span class="price-left ">Rs. 700/day </span>
                        </a>
                      </li>


                    </ul>
                  </div>

                </div>
              </div>
            </div>


            <div class="pagination clearfix ">
              <p>Items 3 total</p>

            </div>
          </div>


          <style>
            .active,
            button.accordion:hover {
              background-color: #f2f7f6;
            }

            .panel {
              padding: 0 5px !important;
              margin-bottom: 0px;
              display: none;
              background-color: white;
              overflow: hidden;
            }
          </style>

        </div>
        <div class=" col-md-3 sticky">
          <div id="sidebar">
            <div class="widget">
              <h4>CATEGORIES</h4>

              <div id="accordion">
                <!--<h5><a href="">Camera</a></h5>-->
                <button class="accordion">Camera</button>
                <div class="panel">
                  <div>
                    <ul>

                      <li><a href="https://www.rentoclick.com/category/dslr.html">DSLR</a></li>
                      <li><a href="https://www.rentoclick.com/category/4k-6k--beyond.html">4K, 6K & Beyond</a></li>
                      <li><a href="https://www.rentoclick.com/category/camcorder--video.html">Camcorder & Video</a>
                      </li>
                      <li><a href="https://www.rentoclick.com/category/vr-360--mobility.html">VR, 360 & Mobility</a>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>
              <div id="accordion">
                <!--<h5><a href="">Lens</a></h5>-->
                <button class="accordion">Lens</button>
                <div class="panel">
                </div>

              </div>
              <div id="accordion">
                <!--<h5><a href="">Videography Equipments</a></h5>-->
                <button class="accordion">Videography Equipments</button>
                <div class="panel">
                  <div>
                    <ul>

                      <li><a href="https://www.rentoclick.com/category/support-equipment.html">Support Equipment</a>
                      </li>
                      <li><a href="https://www.rentoclick.com/category/audio--video-devices.html">Audio & Video
                          Devices</a></li>
                      <li><a href="https://www.rentoclick.com/category/lights--flashes.html">Lights & Flashes</a></li>
                    </ul>
                  </div>
                </div>

              </div>
              <div id="accordion">
                <!--<h5><a href="">Go Pro & Mount</a></h5>-->
                <button class="accordion">Go Pro & Mount</button>
                <div class="panel">
                </div>

              </div>
              <div id="accordion">
                <!--<h5><a href="">Wedding Kit</a></h5>-->
                <button class="accordion">Wedding Kit</button>
                <div class="panel">
                </div>

              </div>
              <div id="accordion">
                <!--<h5><a href="">Youtube & Vlogging Gears</a></h5>-->
                <button class="accordion">Youtube & Vlogging Gears</button>
                <div class="panel">
                </div>

              </div>
              <div id="accordion">
                <!--<h5><a href="">Travel Gears</a></h5>-->
                <button class="accordion">Travel Gears</button>
                <div class="panel">
                </div>

              </div>
              <div id="accordion">
                <!--<h5><a href="">Film & Cinema Equipments</a></h5>-->
                <button class="accordion">Film & Cinema Equipments</button>
                <div class="panel">
                </div>

              </div>
              <div id="accordion">
                <!--<h5><a href="">Wildlife Photography DSLR & Lens on rent</a></h5>-->
                <button class="accordion">Wildlife Photography DSLR & Lens on rent</button>
                <div class="panel">
                </div>

              </div>
            </div>

            <!--
                <div class="widget">
                                      <h4>Price Filter</h4>
                                      <div class="price-range">
                                          <div id="slider-range"></div>
                                          <p class=" clearfix">
                                              <input type=" text"id="amount"/>
                                              <input type=" text"id="amount2"/>
                                          </p>
                                      </div>
                                  </div>
                -->
          </div>
        </div>
      </div>
    </div>
    <!-- ASDF -->


    <!--how it work-->
    <section class="bg-grey ">

      <div class="container ">

        <div class="row ">

          <div class="col-md-12 ">
            <h2 class="studio-main-head ">How it Works</h2>
          </div>

          <div class="col-md-4 col-sm-4 ">
            <div class="hiw ">
              <img src="https://www.rentoclick.com/images/hiw/search.svg ">
              <h4>Browse and select your renting needs</h4>
              <p>Browse & Select from a wide range of Rental products on our website.</p>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 ">
            <div class="hiw ">
              <img src="https://www.rentoclick.com/images/hiw/choose.svg ">
              <h4>Choose Your Dates</h4>
              <p>Select your dates and always plan early for hassle-free Renting.</p>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 ">
            <div class="hiw ">
              <img src="https://www.rentoclick.com/images/hiw/book.svg ">
              <h4><span class="listar-bluethemecolor "></span> Pay 30 % & Book Now </h4>
              <p>We don't want you to lose your wallet before it gets Heavy.</p>
            </div>
          </div>

        </div>

      </div>

    </section>
  </div>
</div>
