.component-content-pro{
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
.component-content-color{
  background-color: #f5f7fa !important;
}

.wrapper-dropdown-3 .dropdown{
  padding: 0px;
}
span .price-left{
  font-weight: bold;
  }
  .dropdown {
    position: relative;
    display: inline-block !important;
}

