<div class="component-content-pro">
  <div class="component-content-color">
    <section>
      <div class="container pt-2">
        <div class="row">
          <div class="col-md-12">
            <h3 class="studio-main-head">Camera for your desire<span></span></h3>
            <!--<p class="studio-main-line text-left"> check our range of products based on your purpose</p>-->
          </div>
        </div>
        <div class="row flex-space-between">
          <div class="col-md-2 col-xs-6">
            <div class="studio-style">
              <a [routerLink]="['/pages/rental/dslr']">
                <img src="https://www.rentoclick.com/vender_assets/icon/6.png">
                <p>DSLR starts@350/day</p>
              </a>
            </div>
          </div>
          <!--
        <div class="col-md-2 col-xs-6">
          <div class="studio-style">
            <a href="https://www.rentoclick.com/category/go-pro--mount.html">
              <img src="https://www.rentoclick.com/vender_assets/icon/go-pro.svg">
              <p>Go Pro</p>
            </a>
          </div>
        </div> -->

          <div class="col-md-2 col-xs-6">
            <div class="studio-style">
              <a [routerLink]="['/pages/rental/dslr']">
                <img src="https://www.rentoclick.com/vender_assets/icon/wildlife.svg">
                <p>Professional DSLR</p>
              </a>
            </div>
          </div>

          <div class="col-md-2 col-xs-6">
            <div class="studio-style">
              <a [routerLink]="['/pages/rental/lens']">
                <img src="https://www.rentoclick.com/vender_assets/icon/lenses.svg">
                <p>Lenses</p>
              </a>
            </div>
          </div>
          <div class="col-md-2 col-xs-6">
            <div class="studio-style">
              <a>
                <img src="https://www.rentoclick.com/vender_assets/icon/light-flashes.svg">
                <p>Light & Flashes</p>
              </a>
            </div>
          </div>

          <div class="col-md-2 col-xs-6">
            <div class="studio-style">
              <a>
                <img src="https://www.rentoclick.com/vender_assets/icon/broadcasting.svg">
                <p>Wedding Photography</p>
              </a>
            </div>
          </div>
        </div>
        <!--<div class="row">-->
        <!--   <div class="col-md-12 text-center">-->
        <!--      <a class="btn btn-main" href="https://www.rentoclick.com/studio/search.html?purpose=+&location=">-->
        <!--          View All-->
        <!--      </a>-->
        <!--  </div>-->
        <!--</div>-->
      </div>
    </section>

    <div class=" clearfix"></div>


    <section class="main-banner" style="padding-bottom: 34px;">
      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <h3 class="studio-main-head">Gears for Professional Use<span></span></h3>
            <!--<p class="studio-main-line text-left"> check our range of products based on your purpose</p>-->
          </div>

          <div class="col-md-3">
            <div class="tabs-responsive">
              <div class="tab">
                <a class="tablinks active" onclick="openCity(event, 'tab1')">Photo</a>
                <a class="tablinks" onclick="openCity(event, 'tab2')">Video</a>
              </div>
              <div id="tab1" class="tabcontent" style='display: block;'>
                <ul class="list-style">

                  <li><a>Canon</a></li>
                  <li><a>Sony</a></li>
                  <li><a>Nikon</a></li>
                  <li><a>Lights & Modifiers</a></li>
                  <li><a>Tripod & Monopod</a></li>
                  <li><a>Backdrop & Stands</a></li>

                  <li>




                  </li>
                </ul>
              </div>
              <div id="tab2" class="tabcontent">
                <ul class="list-style">

                  <li><a>DSLR</a></li>
                  <li><a>Camcoder</a></li>
                  <li><a>Cinematic Camera</a></li>
                  <li><a>Lights & Stand</a></li>
                  <li><a>Audio & Video</a></li>
                  <li><a>Tripod, Gimbals &
                      Support</a></li>

                  <li>



                    <a>VR, 360 & Mobility</a>

                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-9">

            <div class="home-search">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <h2>Search your rental needs</h2>
                  <p>A wide range of Verified Rental Products, from multiple vendors & location.</p>
                  <form class="listar-formtheme listar-formsearchlisting">
                    <fieldset>
                      <div class="form-group listar-inputwithicon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <div class="listar-select">
                          <input type="text" name="searchBox" class="form-control"
                            placeholder="Search your rental needs">
                        </div>
                      </div>

                      <input type="submit" name="Search Now" class="listar-btn btn-blue" value="Search Now">
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="clearfix"></div>

    <main id="listar-main" class="listar-main listar-haslayout">
      <section class="listar-businesstypesarea">
        <div class="container-fluid">
          <div class="row">

            <div class="listar-businesstype listar-business">
              <h3 class="studio-main-head">I’m a Studio Owner </h3>
              <ul>
                <li>
                  <i class="fa-solid fa-square-check"></i>
                  <span>No Listing Price</span>
                </li>
                <li>
                  <i class="fa-solid fa-square-check"></i>
                  <span>Get Confirmed Leads.</span>
                </li>
                <li>
                  <i class="fa-solid fa-square-check"></i>
                  <span>Hassle-free Transactions.</span>
                </li>
                <li>
                  <i class="fa-solid fa-square-check"></i>
                  <span>Get Access to a wide range of photography equipment delivered to your studio.</span>
                </li>
                <li>
                  <i class="fa-solid fa-square-check"></i>
                  <span>Grow your Business with us.</span>
                </li>
              </ul>
              <a type="button" class="btn btn-main-3">RENT MY STUDIO</a>
            </div>

            <div class="listar-businesstype listar-user">
              <h3 class="studio-main-head">KYC for the Customer</h3>
              <ul>
                <li>
                  <i class="fa-solid fa-square-check"></i>
                  <span>One-time Verification.</span>
                </li>
                <li>
                  <i class="fa-solid fa-square-check"></i>
                  <span>Access to premium gear with priority availability.</span>
                </li>
                <li>
                  <i class="fa-solid fa-square-check"></i>
                  <span>Instant discount up to 20% and cashback up to 30%</span>
                </li>
                <li>
                  <i class="fa-solid fa-square-check"></i>
                  <span>No Security deposit.</span>
                </li>
                <li>
                  <i class="fa-solid fa-square-check"></i>
                  <span>Delivery to your locations.</span>
                </li>
              </ul>
              <a id="listar-btnsignin" class="btn btn-main-3">
                <span>KNOW MORE</span>
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>


    <!-- -->

    <div class="clearfix"></div>
    <section class="bg-grey">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="studio-main-head">Feature Products <span></span></h3>
          </div>
          <div class="col-md-12">
            <div id="owl-demo" class="owl-carousel owl-carousel1 owl-theme">

              <div class="item padd-mobile">
                <div class="product-style">
                  <div class="product-img-style">
                    <a>
                      <img src="https://www.rentoclick.com/uploads/product/canon_70-200-min.png"
                        alt="Canon 70-200 F2.8L IS2" title="Canon 70-200 F2.8L IS2" class="responsive-image">
                      <!-- <img src="images/product-1.jpg"> -->
                    </a>
                  </div>
                  <div class="overlay">
                    <a class="zoom"></a>
                    <a class="link"></a>
                  </div>

                  <div class="product-details">
                    <h4>
                      <a class="link">Canon 70-200
                        F2.8L IS2</a>
                    </h4>
                    <!-- <p>
                                                                            </p> -->
                  </div>
                  <div class="product-style-price">
                    <p>Rent</p>
                    <span><i class="fa fa-inr" aria-hidden="true"></i> 1200/day</span>
                  </div>
                  <div class="product-style-btn">
                    <a class="btn" title="Product Detail">
                      View More
                    </a>
                  </div>

                </div>
              </div>


              <div class="item padd-mobile">
                <div class="product-style">
                  <div class="product-img-style">
                    <a>
                      <img src="https://www.rentoclick.com/uploads/product/Canon_24-70-min.png"
                        alt="Canon 24-70 F2.8L IS2" title="Canon 24-70 F2.8L IS2" class="responsive-image">
                      <!-- <img src="images/product-1.jpg"> -->
                    </a>
                  </div>
                  <div class="overlay">
                    <a href="https://www.rentoclick.com/uploads/product/Canon_24-70-min.png" class="zoom"></a>
                    <a class="link"></a>
                  </div>

                  <div class="product-details">
                    <h4>
                      <a class="link">Canon 24-70
                        F2.8L IS2</a>
                    </h4>
                    <!-- <p>
                                                                            </p> -->
                  </div>
                  <div class="product-style-price">
                    <p>Rent</p>
                    <span><i class="fa fa-inr" aria-hidden="true"></i> 1200/day</span>
                  </div>
                  <div class="product-style-btn">
                    <a class="btn" title="Product Detail">
                      View More
                    </a>
                  </div>

                </div>
              </div>


              <div class="item padd-mobile">
                <div class="product-style">
                  <div class="product-img-style">
                    <a>
                      <img src="https://www.rentoclick.com/uploads/product/Sony_70-200-min.png"
                        alt="Sony 70-200 G Master F-2.8 Lens on Rent" title="Sony 70-200 G Master F-2.8 Lens on Rent"
                        class="responsive-image">
                      <!-- <img src="images/product-1.jpg"> -->
                    </a>
                  </div>
                  <div class="overlay">
                    <a href="https://www.rentoclick.com/uploads/product/Sony_70-200-min.png" class="zoom"></a>
                    <a class="link"></a>
                  </div>

                  <div class="product-details">
                    <h4>
                      <a href="https://www.rentoclick.com/product/sony-70-200-g-master-f-28-lens-on-rent.html"
                        class="link">Sony 70-200 G Master F-2.8 Lens on Rent</a>
                    </h4>
                    <!-- <p>
                                                                            </p> -->
                  </div>
                  <div class="product-style-price">
                    <p>Rent</p>
                    <span><i class="fa fa-inr" aria-hidden="true"></i> 1200/day</span>
                  </div>
                  <div class="product-style-btn">
                    <a href="https://www.rentoclick.com/product/sony-70-200-g-master-f-28-lens-on-rent.html" class="btn"
                      title="Product Detail">
                      View More
                    </a>
                  </div>

                </div>
              </div>


              <div class="item padd-mobile">
                <div class="product-style">
                  <div class="product-img-style">
                    <a href="https://www.rentoclick.com/product/ellinchrome-rx-master-studio-lights-on-rent.html">
                      <img src="https://www.rentoclick.com/uploads/product/Ellinchrom_FRX_Master-min.png"
                        alt="Ellinchrome RX Master Studio Lights on rent"
                        title="Ellinchrome RX Master Studio Lights on rent" class="responsive-image">
                      <!-- <img src="images/product-1.jpg"> -->
                    </a>
                  </div>
                  <div class="overlay">
                    <a href="https://www.rentoclick.com/uploads/product/Ellinchrom_FRX_Master-min.png" class="zoom"></a>
                    <a href="https://www.rentoclick.com/product/ellinchrome-rx-master-studio-lights-on-rent.html"
                      class="link"></a>
                  </div>

                  <div class="product-details">
                    <h4>
                      <a href="https://www.rentoclick.com/product/ellinchrome-rx-master-studio-lights-on-rent.html"
                        class="link">Ellinchrome RX Master Studio Lights on r</a>
                    </h4>
                    <!-- <p>
                                                                            </p> -->
                  </div>
                  <div class="product-style-price">
                    <p>Rent</p>
                    <span><i class="fa fa-inr" aria-hidden="true"></i> 1000/day</span>
                  </div>
                  <div class="product-style-btn">
                    <a href="https://www.rentoclick.com/product/ellinchrome-rx-master-studio-lights-on-rent.html"
                      class="btn" title="Product Detail">
                      View More
                    </a>
                  </div>

                </div>
              </div>


              <div class="item padd-mobile">
                <div class="product-style">
                  <div class="product-img-style">
                    <a href="https://www.rentoclick.com/product/zhiyun-tech-smooth-q-smartphone-gimbal-on-rent.html">
                      <img src="https://www.rentoclick.com/uploads/product/Zhiyun_Smooth_4_Mobile_Gimbal.png"
                        alt="Zhiyun-Tech Smooth-Q Smartphone Gimbal on rent" title="Zhiyun-Tech Smooth-Q Smartphone Gimbal on rent
   " class="responsive-image">
                      <!-- <img src="images/product-1.jpg"> -->
                    </a>
                  </div>
                  <div class="overlay">
                    <a href="https://www.rentoclick.com/uploads/product/Zhiyun_Smooth_4_Mobile_Gimbal.png"
                      class="zoom"></a>
                    <a href="https://www.rentoclick.com/product/zhiyun-tech-smooth-q-smartphone-gimbal-on-rent.html"
                      class="link"></a>
                  </div>

                  <div class="product-details">
                    <h4>
                      <a href="https://www.rentoclick.com/product/zhiyun-tech-smooth-q-smartphone-gimbal-on-rent.html"
                        class="link">Zhiyun-Tech Smooth-Q Smartphone Gimbal o</a>
                    </h4>
                    <!-- <p>
                                                                            </p> -->
                  </div>
                  <div class="product-style-price">
                    <p>Rent</p>
                    <span><i class="fa fa-inr" aria-hidden="true"></i> 500/day</span>
                  </div>
                  <div class="product-style-btn">
                    <a href="https://www.rentoclick.com/product/zhiyun-tech-smooth-q-smartphone-gimbal-on-rent.html"
                      class="btn" title="Product Detail">
                      View More
                    </a>
                  </div>

                </div>
              </div>


              <div class="item padd-mobile">
                <div class="product-style">
                  <div class="product-img-style">
                    <a href="https://www.rentoclick.com/product/canon-speedlite-600ex-ii-rt-on-rent.html">
                      <img src="https://www.rentoclick.com/uploads/product/Canon_Speedlite_600-min.png"
                        alt="Canon Speedlite 600EX II-RT On Rent" title="Canon Speedlite 600EX II-RT On Rent"
                        class="responsive-image">
                      <!-- <img src="images/product-1.jpg"> -->
                    </a>
                  </div>
                  <div class="overlay">
                    <a href="https://www.rentoclick.com/uploads/product/Canon_Speedlite_600-min.png" class="zoom"></a>
                    <a href="https://www.rentoclick.com/product/canon-speedlite-600ex-ii-rt-on-rent.html"
                      class="link"></a>
                  </div>

                  <div class="product-details">
                    <h4>
                      <a href="https://www.rentoclick.com/product/canon-speedlite-600ex-ii-rt-on-rent.html"
                        class="link">Canon Speedlite 600EX II-RT On Rent</a>
                    </h4>
                    <!-- <p>
                                                                            </p> -->
                  </div>
                  <div class="product-style-price">
                    <p>Rent</p>
                    <span><i class="fa fa-inr" aria-hidden="true"></i> 400/day</span>
                  </div>
                  <div class="product-style-btn">
                    <a href="https://www.rentoclick.com/product/canon-speedlite-600ex-ii-rt-on-rent.html" class="btn"
                      title="Product Detail">
                      View More
                    </a>
                  </div>

                </div>
              </div>


              <div class="item padd-mobile">
                <div class="product-style">
                  <div class="product-img-style">
                    <a href="https://www.rentoclick.com/product/led-light-panel-1x1ft-on-rent.html">
                      <img src="https://www.rentoclick.com/uploads/product/Led_Light_1ft_-min.png"
                        alt="LED Light Panel 1X1ft On Rent" title="LED Light Panel 1X1ft On Rent"
                        class="responsive-image">
                      <!-- <img src="images/product-1.jpg"> -->
                    </a>
                  </div>
                  <div class="overlay">
                    <a href="https://www.rentoclick.com/uploads/product/Led_Light_1ft_-min.png" class="zoom"></a>
                    <a href="https://www.rentoclick.com/product/led-light-panel-1x1ft-on-rent.html" class="link"></a>
                  </div>

                  <div class="product-details">
                    <h4>
                      <a href="https://www.rentoclick.com/product/led-light-panel-1x1ft-on-rent.html" class="link">LED
                        Light Panel 1X1ft On Rent</a>
                    </h4>
                    <!-- <p>
                                                                            </p> -->
                  </div>
                  <div class="product-style-price">
                    <p>Rent</p>
                    <span><i class="fa fa-inr" aria-hidden="true"></i> 600/day</span>
                  </div>
                  <div class="product-style-btn">
                    <a href="https://www.rentoclick.com/product/led-light-panel-1x1ft-on-rent.html" class="btn"
                      title="Product Detail">
                      View More
                    </a>
                  </div>

                </div>
              </div>


              <div class="item padd-mobile">
                <div class="product-style">
                  <div class="product-img-style">
                    <a href="https://www.rentoclick.com/product/kino-led-light-1x4-on-rent.html">
                      <img src="https://www.rentoclick.com/uploads/product/Kino_2_Bank-min.png"
                        alt="Kino LED Light 1x4 On Rent" title="Kino LED Light 1x4 On Rent" class="responsive-image">
                      <!-- <img src="images/product-1.jpg"> -->
                    </a>
                  </div>
                  <div class="overlay">
                    <a href="https://www.rentoclick.com/uploads/product/Kino_2_Bank-min.png" class="zoom"></a>
                    <a href="https://www.rentoclick.com/product/kino-led-light-1x4-on-rent.html" class="link"></a>
                  </div>

                  <div class="product-details">
                    <h4>
                      <a href="https://www.rentoclick.com/product/kino-led-light-1x4-on-rent.html" class="link">Kino LED
                        Light 1x4 On Rent</a>
                    </h4>
                    <!-- <p>
                                                                            </p> -->
                  </div>
                  <div class="product-style-price">
                    <p>Rent</p>
                    <span><i class="fa fa-inr" aria-hidden="true"></i> 1000/day</span>
                  </div>
                  <div class="product-style-btn">
                    <a href="https://www.rentoclick.com/product/kino-led-light-1x4-on-rent.html" class="btn"
                      title="Product Detail">
                      View More
                    </a>
                  </div>

                </div>
              </div>


              <div class="item padd-mobile">
                <div class="product-style">
                  <div class="product-img-style">
                    <a href="https://www.rentoclick.com/product/zhiyun-crane---3-lab-gimbal-on-rent.html">
                      <img src="https://www.rentoclick.com/uploads/product/Zhiyun_Crane_3-min.png"
                        alt="Zhiyun Crane - 3 Lab Gimbal on Rent" title="Zhiyun Crane - 3 Lab Gimbal on Rent"
                        class="responsive-image">
                      <!-- <img src="images/product-1.jpg"> -->
                    </a>
                  </div>
                  <div class="overlay">
                    <a href="https://www.rentoclick.com/uploads/product/Zhiyun_Crane_3-min.png" class="zoom"></a>
                    <a href="https://www.rentoclick.com/product/zhiyun-crane---3-lab-gimbal-on-rent.html"
                      class="link"></a>
                  </div>

                  <div class="product-details">
                    <h4>
                      <a href="https://www.rentoclick.com/product/zhiyun-crane---3-lab-gimbal-on-rent.html"
                        class="link">Zhiyun Crane - 3 Lab Gimbal on Rent</a>
                    </h4>
                    <!-- <p>
                                                                            </p> -->
                  </div>
                  <div class="product-style-price">
                    <p>Rent</p>
                    <span><i class="fa fa-inr" aria-hidden="true"></i> 1200/day</span>
                  </div>
                  <div class="product-style-btn">
                    <a href="https://www.rentoclick.com/product/zhiyun-crane---3-lab-gimbal-on-rent.html" class="btn"
                      title="Product Detail">
                      View More
                    </a>
                  </div>

                </div>
              </div>


              <div class="item padd-mobile">
                <div class="product-style">
                  <div class="product-img-style">
                    <a href="https://www.rentoclick.com/product/canon-eos-1500d-on-rent.html">
                      <img src="https://www.rentoclick.com/uploads/product/Canon_1500D_DSLR.png"
                        alt="Canon EOS 1500D On Rent" title="Canon EOS 1500D On Rent" class="responsive-image">
                      <!-- <img src="images/product-1.jpg"> -->
                    </a>
                  </div>
                  <div class="overlay">
                    <a href="https://www.rentoclick.com/uploads/product/Canon_1500D_DSLR.png" class="zoom"></a>
                    <a href="https://www.rentoclick.com/product/canon-eos-1500d-on-rent.html" class="link"></a>
                  </div>

                  <div class="product-details">
                    <h4>
                      <a href="https://www.rentoclick.com/product/canon-eos-1500d-on-rent.html" class="link">Canon EOS
                        1500D On Rent</a>
                    </h4>
                    <!-- <p>
                                                                            </p> -->
                  </div>
                  <div class="product-style-price">
                    <p>Rent</p>
                    <span><i class="fa fa-inr" aria-hidden="true"></i> 500/day</span>
                  </div>
                  <div class="product-style-btn">
                    <a href="https://www.rentoclick.com/product/canon-eos-1500d-on-rent.html" class="btn"
                      title="Product Detail">
                      View More
                    </a>
                  </div>

                </div>
              </div>


              <div class="item padd-mobile">
                <div class="product-style">
                  <div class="product-img-style">
                    <a href="https://www.rentoclick.com/product/camera-mount-led-on-rent.html">
                      <img src="https://www.rentoclick.com/uploads/product/Camera_mount_LED-min.png"
                        alt="Camera mount LED On Rent" title="Camera mount LED On Rent" class="responsive-image">
                      <!-- <img src="images/product-1.jpg"> -->
                    </a>
                  </div>
                  <div class="overlay">
                    <a href="https://www.rentoclick.com/uploads/product/Camera_mount_LED-min.png" class="zoom"></a>
                    <a href="https://www.rentoclick.com/product/camera-mount-led-on-rent.html" class="link"></a>
                  </div>

                  <div class="product-details">
                    <h4>
                      <a href="https://www.rentoclick.com/product/camera-mount-led-on-rent.html" class="link">Camera
                        mount LED On Rent</a>
                    </h4>
                    <!-- <p>
                                                                            </p> -->
                  </div>
                  <div class="product-style-price">
                    <p>Rent</p>
                    <span><i class="fa fa-inr" aria-hidden="true"></i> 450/day</span>
                  </div>
                  <div class="product-style-btn">
                    <a href="https://www.rentoclick.com/product/camera-mount-led-on-rent.html" class="btn"
                      title="Product Detail">
                      View More
                    </a>
                  </div>

                </div>
              </div>


              <div class="item padd-mobile">
                <div class="product-style">
                  <div class="product-img-style">
                    <a href="https://www.rentoclick.com/product/zoom-h6-recorder-on-rent.html">
                      <img src="https://www.rentoclick.com/uploads/product/Zoom_H6-min.png"
                        alt="Zoom H6 Recorder On Rent" title="Zoom H6 Recorder On Rent" class="responsive-image">
                      <!-- <img src="images/product-1.jpg"> -->
                    </a>
                  </div>
                  <div class="overlay">
                    <a href="https://www.rentoclick.com/uploads/product/Zoom_H6-min.png" class="zoom"></a>
                    <a href="https://www.rentoclick.com/product/zoom-h6-recorder-on-rent.html" class="link"></a>
                  </div>

                  <div class="product-details">
                    <h4>
                      <a href="https://www.rentoclick.com/product/zoom-h6-recorder-on-rent.html" class="link">Zoom H6
                        Recorder On Rent</a>
                    </h4>
                    <!-- <p>
                                                                            </p> -->
                  </div>
                  <div class="product-style-price">
                    <p>Rent</p>
                    <span><i class="fa fa-inr" aria-hidden="true"></i> 1800/day</span>
                  </div>
                  <div class="product-style-btn">
                    <a href="https://www.rentoclick.com/product/zoom-h6-recorder-on-rent.html" class="btn"
                      title="Product Detail">
                      View More
                    </a>
                  </div>

                </div>
              </div>

            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- style="border-width: 1px 0px 1px 1px; border-top-color: rgb(8, 60, 93); border-bottom-color: rgb(26, 73, 103); border-left-color: rgb(26, 73, 103); border-image: initial; padding-top: 20px; border-right-style: initial; border-right-color: initial;
    padding-left: 8px; background: rgba(205, 222, 219, 0.25); opacity: 1; display: block;" -->

    <!-- New Feature Image here -->
    <section class="bg-white">
      <div class="container mobile-padd">

        <div class="row">

          <div class="col-md-12">
            <h3 class="studio-main-head">Offers & Coupons <span></span></h3>
          </div>

          <div id="owl-demo" class="owl-carousel owl-carousel2 owl-theme Offers-img">

            <div class="item">
              <a href="https://www.rentoclick.com/product/zhiyun-crane---2-gimbal-on-rent.html"><img
                  src="https://www.rentoclick.com/images/zhiyun-crane-on-rent.jpg" alt="Zhiyun Crane On Rent"
                  title="Zhiyun Crane On Rent"></a>
            </div>

            <div class="item">
              <a href="https://www.rentoclick.com/product/helicam-drone-phantom-4-camera-on-rent.html"><img
                  src="https://www.rentoclick.com/images/phantom-drone-on-rent.jpg" alt="Phantom Drone On Rent"
                  title="Phantom Drone On Rent"></a>
            </div>

            <div class="item">
              <a href="https://www.rentoclick.com/category/go-pro--mount.html"><img
                  src="https://www.rentoclick.com/images/go-pro-on-rent.jpg" alt="Go Pro On Rent"
                  title="Go Pro On Rent"></a>
            </div>

            <div class="item">
              <a href="https://www.rentoclick.com/product/dji-ronin-m-gimbal-on-rent.html"><img
                  src="https://www.rentoclick.com/images/dji-ronin-m-on-rent.jpg" alt="DJI Ronin M On Rent"
                  title="DJI Ronin M On Rent"></a>
            </div>

            <div class="item">
              <a href="https://www.rentoclick.com/category/travel-gears.html"><img
                  src="https://www.rentoclick.com/images/11.png" alt="Rent Camera for your next adventurous trip"
                  title="Rent Camera for your next adventurous trip"></a>
            </div>

            <div class="item">
              <a href="https://www.rentoclick.com/category/combo-kit.html"><img
                  src="https://www.rentoclick.com/images/22.png" alt="Rent Camera & Lens Kit"
                  title="Rent Camera & Lens Kit"></a>
            </div>

            <div class="item">
              <a href="https://www.rentoclick.com/category/vlogging--youtube-gears.html"><img
                  src="https://www.rentoclick.com/images/33.png" alt="Rent Vlogging DSLR, Lens & Equipments"
                  title="Rent Vlogging DSLR, Lens & Equipments"></a>
            </div>

            <div class="item">
              <a href="https://www.rentoclick.com/category/film--cinema-equipments.html"><img
                  src="https://www.rentoclick.com/images/44.png" alt="Rent film making and cinema equipments"
                  title="Rent film making and cinema equipments"></a>
            </div>

            <!-- ASDF -->

          </div>

        </div>

      </div>
    </section>
    <!-- End New Feture image here -->
    <!--how it work-->
    <section class="bg-white">

      <div class="container">

        <div class="row">

          <div class="col-md-12">
            <h3 class="studio-main-head">How it Works</h3>
          </div>

          <div class="col-md-4 col-sm-4">
            <div class="hiw">
              <img src="https://www.rentoclick.com/images/hiw/search.svg">
              <h4>Browse and select your renting needs</h4>
              <p>Browse & Select from a wide range of Rental products on our website.</p>
            </div>
          </div>

          <div class="col-md-4 col-sm-4">
            <div class="hiw">
              <img src="https://www.rentoclick.com/images/hiw/choose.svg">
              <h4>Choose Your Dates</h4>
              <p>Select your dates and always plan early for hassle-free Renting.</p>
            </div>
          </div>

          <div class="col-md-4 col-sm-4">
            <div class="hiw">
              <img src="https://www.rentoclick.com/images/hiw/book.svg">
              <h4><span class="listar-bluethemecolor"></span> Pay 30 % & Book Now </h4>
              <p>We don't want you to lose your wallet before it gets Heavy.</p>
            </div>
          </div>

        </div>

      </div>

    </section>
    <!--/how it work-->
    <section class="bg-white">
      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <h3 class="studio-main-head">What we don't have to Promise</h3>
          </div>

          <div class="col-md-4">
            <div class="features-style">
              <img src="https://www.rentoclick.com/images/features-style/st.png">
              <h4>Verified Items</h4>
              <p>A wide range of Verified Rental Products, from multiple vendors & location.</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="features-style">
              <img src="https://www.rentoclick.com/images/features-style/ed.png">
              <h4>Easy Documentation</h4>
              <p>We value your time and our efforts are there to make your document verification.</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="features-style">
              <img src="https://www.rentoclick.com/images/features-style/qr.png">
              <h4>Quick Response </h4>
              <p> We are Happy to Serve you anytime, just tell us what's your need to rent.</p>
            </div>
          </div>

        </div>
      </div>
    </section>


    <section class="testimonials-grey" id="crosel">

      <h2 class="studio-main-head">Our Trusted Clients</h2>

      <div class="container">


        <div class="carousel slide" data-ride="carousel" id="quote-carousel">

          <div class="center">
            <div class="carousel-inner">

              <div class="item active">
                <p>EXCELLENT SERVICE PROVIDED BY THEM , THE CAMERA IS AWESOME AND EVEN THE TEAM IS GOOD. I HAVE USED
                  THERE
                  SERVICES 3 TIME FOR GETTING CAMERA TO SHOOT MY PODCAST , AND THEY HAVE REALLY DELIVERED QUALITY.</p>
                <h5><strong>DEEPENDRA YADAV</strong></h5>
              </div>
              <div class="item">
                <p>Quick service with best rates for Gopro I got. Easy with home delivery and collection option. I
                  recommend their services.</p>
                <h5><strong>Mahesh Dwivedi</strong></h5>
              </div>
              <div class="item">
                <p>Had a great experience.. They are professional yet very flexible and understanding... Great customer
                  support... I rented a lense and wireless mic set ... Products were new... Would highly recommend
                  them..
                </p>
                <h5><strong>Naveen Tomar</strong></h5>
              </div>
            </div>

          </div>

          <!-- Bottom Carousel Indicators -->

          <ol class="carousel-indicators">

            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>

            <li data-target="#quote-carousel" data-slide-to="1"></li>

            <li data-target="#quote-carousel" data-slide-to="2"></li>

          </ol>

        </div>


      </div>


    </section>



    <!-- Modal -->
    <div id="myLogin" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <a type="button" class="close" data-dismiss="modal">&times;</a>
          <div class="modal-body">
            <div class="product-main-content">


              <div class="tab rm-tab-sticky">
                <a class="tablinks" onclick="openCity(event, 'sing-up')">Sign Up</a>
                <a class="tablinks active" onclick="openCity(event, 'log-in')">Login Now</a>
              </div>

              <div id="sing-up" class="tabcontent">
                <div class="main-div-content">
                  <div class="login-here-form">
                    <form name="registerUser" class="registerUser" method="post">
                      <div class="form-group">
                        <label><b>Name :</b></label>
                        <input type="text" class="form-control" name="u_name" id="u_name" value=""
                          placeholder="Enter Name">
                      </div>
                      <div class="form-group">
                        <label><b>Email :</b></label>
                        <input type="text" class="form-control" name="u_email" id="u_email" value=""
                          placeholder="Enter Email">
                      </div>
                      <div class="form-group">
                        <label><b>Phone :</b></label>
                        <input type="text" class="form-control" name="u_phone" id="u_phone" value=""
                          placeholder="Enter Phone">
                      </div>
                      <div class="form-group">
                        <label><b>Password :</b></label>
                        <input type="password" class="form-control" name="u_password" id="u_password" value=""
                          placeholder="Enter Password">
                      </div>
                      <div class="form-group">
                        <label><b>Confirm Password :</b></label>
                        <input type="password" class="form-control" name="conf_password" id="conf_password" value=""
                          placeholder="Confirm Password">
                      </div>

                      <div class="pull-right">
                        <input type="submit" class="listar-btn listar-btnblue" value="Register Now">
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <div id="log-in" class="tabcontent" style="display: block;">
                <div class="main-div-content">
                  <div class="login-here-form">

                    <form class="clearfix loginForma" name="loginForma" method="post">
                      <div class="form-group">
                        <label>Your E-Mail Address</label>
                        <input type="text" name="user_name" id="user_name" class="form-control"
                          placeholder="Yourmail@gmail.com"><br />
                      </div>
                      <div class="form-group">
                        <label>Your Password</label>
                        <input type="password" name="user_password" id="user_password" class="form-control"
                          placeholder="Enter Your Password"><br />
                      </div>
                      <input type="submit" name="submit" class="btn-login" value="Login">

                    </form>

                    <p style="margin-top: 10px">I Forgot my Password <a
                        href="https://www.rentoclick.com/forget-password.html">Click Here</a></p>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
