.component-content-color{
  background-color: #f5f7fa !important;
}

span .price-left{
font-weight: bold;
}

.component-content-color{
  background-color: #f5f7fa !important;
}
.component-content-pro{
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
.list-form{
  display: flex;
  padding-left: 0px;
}
.sticky {
  position: sticky !important;
  top: 100px;
}
