.component-content-color{
  background-color: #f5f7fa !important;
}

span .price-left{
font-weight: bold;
}

.component-content-color{
  background-color: #f5f7fa !important;
}
.component-content-pro{
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
.list-form{
  display: flex;
  padding-left: 0px;
}
.sticky {
  position: sticky !important;
  top: 100px;
}
ngx-select span.ng-star-inserted {
  color: #3366ff;
}
ngx-select span.ng-star-inserted {
  color: #3366ff;
}

.modal-content{
  width: 124% !important;
}
#content {
  overflow: hidden;
  height: 4em;
}

#content2 {
  overflow: hidden;
  height: 4em;
}
.row{
  padding-left: 15px !important;
  padding-right:15px !important;
}