<div class="component-content-pro">
  <div class="component-content-color">
    <section class="container-100">

      <div class="container-70">

        <div class="row">

          <div class="col-md-12">

            <div class="product-img">

              <div class="row">
                <div class="col-md-10">
                  <!-- <img src="images/lens.png"> -->
                  <img src="https://www.rentoclick.com/uploads/product/Canon_55-250_Lens.png" />
                </div>
                <div class="col-md-2">

                  <ul class="side-img-div">
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>








        <div class="product-main-content display-none-responsive">
          <nb-tabset #tabSetRef fullWidth id="tabSetRef" class="ph-tabs" name="tabSetRef">
            <nb-tab tabTitle="Product Description" class="tab-content">
              <div class="main-div-content">
                <!-- <div id="content"> -->
                <p>Canon EF-S 55-250mm f/4-5.6 IS STM Lens is available for rent. Our other lens rental includes
                  Canon, Compact Prime, Tamron, Carl Zeiss, Sigma lenses.</p>
                  <span class="text-center pt-1 pb-1">Note: 1Day Rental - 12Hours & 2Days Rental - 24Hours </span>
                <hr>
                <p><strong>Technical </strong><strong>Specificationns</strong><strong>-</strong></p>

                <ul>
                  <li>EF-S Mount Lens/APS-C Format</li>
                  <li>88-400mm (35mm Equivalent)</li>
                  <li>Aperture Range: f/4 to f/32</li>
                  <li>One Ultra-Low Dispersion Element</li>
                  <li>Super Spectra Coating</li>
                  <li>STM Stepping AF Motor</li>
                  <li>Optical Image Stabilizer</li>
                  <li>Rounded 7-Blade Diaphragm</li>
                </ul>

                <hr>
                <p>Our other <a href="http://www.rentoclick.com/category/combo-kit.html" target="_blank">Combo
                    Kits</a> are- <a
                    href="http://www.rentoclick.com/product/canon-5d-mark-lll-essential-kit-on-rent.html"
                    target="_blank">Canon 5D Mark Ill Essential Kit</a>
                  <a class="m_7626112437634278028m_210846239992900547m_4658603013184069217m_-2588217844535875454m_8498354065216283583m_-4102641544047263414m_16089911936481118m_3360718476178538077m_4215027039913624772m_8869919596298494560gmail-m_-1955497388882999349gmail-m_1811775143187426455gmail-m_7019155461331582012gmail-m_-8800635588020671766gmail-"
                    href="http://www.rentoclick.com/product/sony-a7-sii-essential-kit-on-rent.html" target="_blank">,
                    Sony</a><a href="http://www.rentoclick.com/product/sony-a7-sii-essential-kit-on-rent.html"
                    target="_blank"> A7 SII Essential Kit</a>, <a
                    href="http://www.rentoclick.com/product/sony-fs7-4k-with-cp2-5lens-kit-on-rent.html"
                    target="_blank">Sony FS7 4K With CP2 5Lens </a>rent from a wide range of Camera Rental
                  Products from RentOclick.
                </p>
                <!-- </div> -->
                <!-- <button id="aa" class="btn btn-main-nav">Read more</button> -->
              </div>
            </nb-tab>

            <nb-tab tabTitle="Terms & Condition" class="tab-content">
              <div class="main-div-content">
                <!--  <div id="content2"> -->

                <p><strong>Documents Required & ID Verification.</strong></p>

                <p>Aadhar Card along with anyone Valid Govt ID is mandatory</p>

                <p>We will take Post Dated Cheque of the replacement value of the product.</p>

                <p><strong>Valid Documents - </strong></p>

                <ul>
                  <li>Voter Card</li>
                  <li>Driving License </li>
                  <li>Passport (No Aadhar card required)</li>
                  <li>Local Residence Proof</li>
                </ul>

                <hr>
                <p><strong>Security Deposit -</strong></p>

                <p>We have <strong>No Cash Security Policy, </strong>instead, we will take a cheque and a valid Govt
                  ID.</p>

                <p>We will take a <strong>Post Dated Cheque</strong> of the Replacement Value of the Product and
                  <strong>Aadhar Card</strong> and a Valid ID.
                </p>

                <p>Security deposit does not include rent. It takes care of damages, loss or mishandling (if any).
                  Post Dated Cheque will be handed over to you as soon as you return the product (without Damage).
                </p>

                <p>Don&#39;t want to provide your cheque every time you rent equipment, <a
                    href="https://www.rentoclick.com/kyc-policy.html" target="_blank"><strong>Become a KYC
                      Verified Member</strong></a> and skip the <strong>Hassle of Verification</strong> for
                  every time with some<strong> Extra Benefits & Perks. </strong></p>

                <hr>
                <p><strong>Bookings, Cancellation & Refunds - </strong></p>

                <p>For Confirmed Booking and Holding rented equipment, Booking amount mentioned must be paid, the
                  rest amount will be paid in advance at the time of site-pickup or delivery.</p>

                <p>Cancelling a product is liable to some charges as mentioned. -</p>

                <p><strong>7 Days Prior</strong> - 10% of Total Rent</p>

                <p><strong>2 Days Prio</strong>r - 20% of Total Rent</p>

                <p><strong>1 Day Prior</strong> - 30% of Total Rent</p>

                <p>Any refunds related issues will be solved within 7-10 Working Days after confirmation of Refund.
                </p>
                <!-- </div> -->
                <!--  <button id="aaa" class="btn btn-main-nav">Read more</button> -->
              </div>
            </nb-tab>
          </nb-tabset>
        </div>

        <div class="extra-details display-none-responsive">
          <h3 class="studio-main-head">TAGS <span></span></h3>
          <p>lens, canon lens</p>
        </div>

        <section>
        </section>



        <div id="product_tabs box1">


          <style>

          </style>



          <script>

          </script>

        </div>





      </div>
      <!-- Container 70 -->


      <div class="container-30 sticky">



        <div class="side-form">

          <form name="addCartForm" id="addCartForm" method="post" action="https://www.rentoclick.com/Store/addToCart ">
            <input type="hidden" name="product_name" value="Canon EF-S 55-250mm f/4-5.6 IS STM Lens">
            <input type="hidden" id="product_id" name="product_id" value="597">
            <input type="hidden" name="product_book_price" id="product_book_price" value="0">
            <input type="hidden" name="product_rent_total" id="product_rent_total" value="0">
            <input type="hidden" name="rent_book_day" id="rent_book_day" value="1">

            <div class="product-detail product-form">

              <div class="row">
                <div class="col-md-12">
                  <h4>Canon EF-S 55-250mm F/4-5.6 IS STM Lens</h4>
                </div>
              </div>

              <ul class="list-form">
                <li>
                  0-1 Day Rs. (400) </li>
                <li>
                  2-4 Days Rs. (350) </li>
                <li>
                  5-7 Days Rs. (300) </li>
                <li>
                  8 Days ++ Rs. (200) </li>
              </ul>

              <div class="row">
                <div class="col-md-12 col-xs-12">
                  <div class="rent-box">
                    <div class="rented">
                      <label>Total Rent</label><br>
                      <span  class="cut-price">{{this.ratePerDay}}</span>
                      <p class="par-rest-details font-weight-bold" id="show_book_day">Price is for {{this.duration}} day</p>
                    </div>

                    <div class="rented">
                      <label>Book Now</label><br>
                      <span id="show_book_price">{{this.advanceAmount}}</span>
                      <p class="par-rest-details">& Pay Rest Later</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
              </div>

            </div>

            <form [formGroup]="bookForm">
              <div class="product-type clearfix">
                <div class="row row-ph">
                  <div class="text-left col-xs-6 col-md-6">
                    <label>Choose Place For Pickup<i style="color:red">*</i></label>
                    <ngx-select class="form-control-select" formControlName="location" required [items]="locationList"
                      optionValueField="value" optionTextField="value" [allowClear]="true" placeholder="Select">
                    </ngx-select>
                    <span *ngIf="fval?.location?.errors?.required && isSubmitted" class="required-span">Place
                      Required</span>
                  </div>

                  <div class="text-left col-xs-6 col-md-6">
                    <label>Select Total Days<i style="color:red">*</i></label>
                    <ngx-select class="form-control-select" formControlName="totalDays" (selectionChanges)="changeTotalDays($event)" required [items]="dayslist"
                      optionValueField="value" optionTextField="text" [allowClear]="true" placeholder="Select">
                    </ngx-select>
                    <span *ngIf="fval?.totalDays?.errors?.required && isSubmitted" class="required-span">Total Days
                      Required</span>
                  </div>



                  <div class="col-md-12 col-xs-12 pt-2">
                    <div class="form-group relative">
                      <label>Product<i style="color:red;">*</i></label>
                      <!--<a class="incr-btn" data-action="decrease" href="#">–</a>-->
                      <ngx-select class="form-control-select" formControlName="product" required
                        (selectionChanges)="rentPriceUpdateProduct($event)" [items]="ProductData"
                        optionValueField="value" optionTextField="text" [allowClear]="true" placeholder="Select">
                      </ngx-select>
                      <span *ngIf="fval?.product?.errors?.required && isSubmitted" class="required-span">Product
                        Required</span>
                      <!--<a class="incr-btn" data-action="increase" href="#">&plus;</a>-->
                    </div>
                  </div>

                  <div class="col-md-12 col-xs-12 detae">
                    <div class="form-group relative">
                      <label>Select Your Date <i style="color:red">*</i></label>
                      <input [owlDateTime]="dt1" [min]="min" [selectMode]="'range'" required
                        (ngModelChange)="rentPriceUpdateDate($event)" formControlName="date" class="form-control"
                        [owlDateTimeTrigger]="dt1" placeholder="Select FromDate and ToDate">
                      <owl-date-time #dt1></owl-date-time>

                      <span *ngIf="fval?.date?.errors?.required && isSubmitted" class="required-span">Date
                        Required</span><br>
                      <span *ngIf="dateError" class="required-span">Please Select From and Todate</span>
                      <span *ngIf="!dateError && !fval?.date?.errors?.required && !isSubmitted"
                      class="required-span">You Selected Total - {{duration}} Days</span><br>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix text-left col-md-12 last-content">
                <label>Security Amount (Refundable) <i style="color:red">*</i></label>
                <div class="checkboxes">
                  <label class='checkbox'>
                    <input type="checkbox" name="security_check" formControlName="year" checked> We will submit a Govt.
                    ID and a
                    Post
                    Dated Cheque.
                    <span class='indicator'></span>
                  </label>
                </div>
              </div>
            </form>
            <button type="button" class="btn btn-form" (click)="openModal()">Book</button>


            <div class="offer-function">








            </div>
            <!--OFFER-COUPON-->
          </form>
        </div>

        <div class="product-main-content display-block-responsive">

          <nb-tabset #tabSetRef fullWidth id="tabSetRef" class="ph-tabs" name="tabSetRef">
            <nb-tab tabTitle="Product Description" class="tab-content">
              <div class="main-div-content">
                <!-- <div id="content"> -->
                <p>Canon EF-S 55-250mm f/4-5.6 IS STM Lens is available for rent. Our other lens rental includes
                  Canon, Compact Prime, Tamron, Carl Zeiss, Sigma lenses.</p>
                 <span class="text-center pt-1 pb-1">Note: 1Day Rental - 12Hours & 2Days Rental - 24Hours </span>
                <hr>
                <p><strong>Technical </strong><strong>Specificationns</strong><strong>-</strong></p>

                <ul>
                  <li>EF-S Mount Lens/APS-C Format</li>
                  <li>88-400mm (35mm Equivalent)</li>
                  <li>Aperture Range: f/4 to f/32</li>
                  <li>One Ultra-Low Dispersion Element</li>
                  <li>Super Spectra Coating</li>
                  <li>STM Stepping AF Motor</li>
                  <li>Optical Image Stabilizer</li>
                  <li>Rounded 7-Blade Diaphragm</li>
                </ul>

                <hr>
                <p>Our other <a href="http://www.rentoclick.com/category/combo-kit.html" target="_blank">Combo
                    Kits</a> are- <a
                    href="http://www.rentoclick.com/product/canon-5d-mark-lll-essential-kit-on-rent.html"
                    target="_blank">Canon 5D Mark Ill Essential Kit</a>
                  <a class="m_7626112437634278028m_210846239992900547m_4658603013184069217m_-2588217844535875454m_8498354065216283583m_-4102641544047263414m_16089911936481118m_3360718476178538077m_4215027039913624772m_8869919596298494560gmail-m_-1955497388882999349gmail-m_1811775143187426455gmail-m_7019155461331582012gmail-m_-8800635588020671766gmail-"
                    href="http://www.rentoclick.com/product/sony-a7-sii-essential-kit-on-rent.html" target="_blank">,
                    Sony</a><a href="http://www.rentoclick.com/product/sony-a7-sii-essential-kit-on-rent.html"
                    target="_blank"> A7 SII Essential Kit</a>, <a
                    href="http://www.rentoclick.com/product/sony-fs7-4k-with-cp2-5lens-kit-on-rent.html"
                    target="_blank">Sony FS7 4K With CP2 5Lens </a>rent from a wide range of Camera Rental
                  Products from RentOclick.
                </p>
                <!-- </div> -->
                <!-- <button id="aa" class="btn btn-main-nav">Read more</button> -->
              </div>
            </nb-tab>

            <nb-tab tabTitle="Terms & Condition" class="tab-content">
              <div class="main-div-content">
                <!--  <div id="content2"> -->

                <p><strong>Documents Required & ID Verification.</strong></p>

                <p>Aadhar Card along with anyone Valid Govt ID is mandatory</p>

                <p>We will take Post Dated Cheque of the replacement value of the product.</p>

                <p><strong>Valid Documents - </strong></p>

                <ul>
                  <li>Voter Card</li>
                  <li>Driving License </li>
                  <li>Passport (No Aadhar card required)</li>
                  <li>Local Residence Proof</li>
                </ul>

                <hr>
                <p><strong>Security Deposit -</strong></p>

                <p>We have <strong>No Cash Security Policy, </strong>instead, we will take a cheque and a valid Govt
                  ID.</p>

                <p>We will take a <strong>Post Dated Cheque</strong> of the Replacement Value of the Product and
                  <strong>Aadhar Card</strong> and a Valid ID.
                </p>

                <p>Security deposit does not include rent. It takes care of damages, loss or mishandling (if any).
                  Post Dated Cheque will be handed over to you as soon as you return the product (without Damage).
                </p>

                <p>Don&#39;t want to provide your cheque every time you rent equipment, <a
                    href="https://www.rentoclick.com/kyc-policy.html" target="_blank"><strong>Become a KYC
                      Verified Member</strong></a> and skip the <strong>Hassle of Verification</strong> for
                  every time with some<strong> Extra Benefits & Perks. </strong></p>

                <hr>
                <p><strong>Bookings, Cancellation & Refunds - </strong></p>

                <p>For Confirmed Booking and Holding rented equipment, Booking amount mentioned must be paid, the
                  rest amount will be paid in advance at the time of site-pickup or delivery.</p>

                <p>Cancelling a product is liable to some charges as mentioned. -</p>

                <p><strong>7 Days Prior</strong> - 10% of Total Rent</p>

                <p><strong>2 Days Prio</strong>r - 20% of Total Rent</p>

                <p><strong>1 Day Prior</strong> - 30% of Total Rent</p>

                <p>Any refunds related issues will be solved within 7-10 Working Days after confirmation of Refund.
                </p>
                <!-- </div> -->
                <!--  <button id="aaa" class="btn btn-main-nav">Read more</button> -->
              </div>
            </nb-tab>
          </nb-tabset>
        </div>
        <div class="extra-details pt-2 display-block-responsive">
          <h3 class="studio-main-head">TAGS <span></span></h3>
          <p>lens, canon lens</p>
        </div>
      </div>

    </section>

    <div class="clearfix"></div>

    <div id="enquiryForm" class="modal fade">
      <div class="modal-dialog modal-login">
        <div class="modal-content">
          <div class="modal-header">

            <h4 class="modal-title">Enquiry Form </h4>
            <h4 class="modal-title"><small>We will get back to you soon! </small></h4>

            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="intResponseMessage"></div>
            <form method="post" id="productEnquiryForm">
              <input type="hidden" class="form-control" name="query_product"
                value="https://www.rentoclick.com/product/nikon-d-5600-dslr.html">
              <input type="hidden" class="form-control" id="product_enquiry_date" name="query_product_date" value="">
              <div class="form-group">
                <input type="text" class="form-control" name="query_name" placeholder="Your Name" id="cName">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="query_email" placeholder="Email" id="cEmail">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="query_phone" placeholder="Phone Number" id="cPhone">
              </div>
              <div class="form-group">
                <textarea name="query_message" class="form-control" placeholder="Message" rows="3"
                  id="cMessage"></textarea>
              </div>
              <div class="form-group">
                <button type="button" id="enquiryFormSubmit"
                  class="btn btn-primary btn-lg btn-block login-btn">Submit</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>


    <!-- Modal -->
    <div id="myLogin" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <a type="button" class="close" data-dismiss="modal">&times;</a>
          <div class="modal-body">
            <div class="product-main-content ">


              <div class="tab rm-tab-sticky">
                <a class="tablinks" onclick="openCity(event, 'sing-up')">Sign Up</a>
                <a class="tablinks active" onclick="openCity(event, 'log-in')">Login Now</a>
              </div>

              <div id="sing-up" class="tabcontent">
                <div class="main-div-content">
                  <div class="login-here-form">
                    <form name="registerUser" class="registerUser" method="post">
                      <div class="form-group">
                        <label><b>Name :</b></label>
                        <input type="text" class="form-control" name="u_name" id="u_name" value=""
                          placeholder="Enter Name">
                      </div>
                      <div class="form-group">
                        <label><b>Email :</b></label>
                        <input type="text" class="form-control" name="u_email" id="u_email" value=""
                          placeholder="Enter Email">
                      </div>
                      <div class="form-group">
                        <label><b>Phone :</b></label>
                        <input type="text" class="form-control" name="u_phone" id="u_phone" value=""
                          placeholder="Enter Phone">
                      </div>
                      <div class="form-group">
                        <label><b>Password :</b></label>
                        <input type="password" class="form-control" name="u_password" id="u_password" value=""
                          placeholder="Enter Password">
                      </div>
                      <div class="form-group">
                        <label><b>Confirm Password :</b></label>
                        <input type="password" class="form-control" name="conf_password" id="conf_password" value=""
                          placeholder="Confirm Password">
                      </div>

                      <div class="pull-right">
                        <input type="submit" class="listar-btn listar-btnblue" value="Register Now">
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <div id="log-in" class="tabcontent" style="display: block;">
                <div class="main-div-content">
                  <div class="login-here-form">

                    <form class="clearfix loginForma" name="loginForma" method="post">
                      <div class="form-group">
                        <label>Your E-Mail Address</label>
                        <input type="text" name="user_name" id="user_name" class="form-control"
                          placeholder="Yourmail@gmail.com"><br />
                      </div>
                      <div class="form-group">
                        <label>Your Password</label>
                        <input type="password" name="user_password" id="user_password" class="form-control"
                          placeholder="Enter Your Password"><br />
                      </div>
                      <input type="submit" name="submit" class="btn-login" value="Login">

                    </form>

                    <p style="margin-top: 10px">I Forgot my Password <a>Click Here</a></p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Camara Booking Form</h4>
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <iframe
          src="https://docs.google.com/forms/d/e/1FAIpQLSdk2chZya0Qk_7-mt5bD3wOGXACjzXjHpykvnbBhDIw4PzM_Q/viewform?embedded=true"
          frameborder="0" scrolling="yes"  height="500" marginheight="0" marginwidth="0">Loading…</iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
      </div>
    </div>
  </div>
</div>